<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
  <add name="con" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\IsDB-BISEW\IDB Classes\Module_05\Project\1280670_Project\1280670_Project(CRUD)\CS_SCSL_A_58_01sln\TheatreManagement\ArtistDB.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>